<section class="hero">
  <div class="heroContent">

      <!-- <img src="../assets/Images/123016282_1230620220645010_1510726153310935145_n-removebg-preview.png" alt=""> -->
      <div class="social-menu__item">
        <a class="gitlab" href="https://gitlab.com/thisara-dew" target="blank" data-toggle="tooltip" data-placement="top" title="Gitlab Account">
          <i class="fa-brands fa-gitlab fa-fade"></i>
        </a>
        <a class="linkedin" href="https://www.linkedin.com/in/thisara-dewapriya/" target="blank"  target="blank" data-toggle="tooltip" data-placement="top" title="Linkedin Account">
          <i class="fa-brands fa-linkedin-in fa-beat"></i>
        </a>
        <a class="stackoverflow" href="https://stackoverflow.com/users/10992165/thisara-senanayake"  target="blank" data-toggle="tooltip" data-placement="top" title="Stackoverflow Account">
          <i class="fa-brands fa-stack-overflow fa-fade" target="blank"></i>
        </a>
        <a class="instagram" href="https://www.instagram.com/_b3ard_dew_/" target="blank"  target="blank" data-toggle="tooltip" data-placement="top" title="Instagram Account">
          <i class="fa-brands fa-instagram fa-flip"></i>
        </a>
        <a class="linkedin" href="https://www.facebook.com/thisaradsenanayake"  target="blank" data-toggle="tooltip" data-placement="top" title="Facebook Account">
          <i class="fa-brands fa-facebook fa-fade"></i>
        </a>
        <a class="Upwork" href="https://www.upwork.com/freelancers/~01ec3d805150cda05f"  target="blank" data-toggle="tooltip" data-placement="top" title="Upwork Account">
          <i class="fa-solid fa-briefcase fa-beat"></i>
        </a>
        <a class="Upwork" href="https://www.fiverr.com/users/dew_senanayake/seller_dashboard"  target="blank" data-toggle="tooltip" data-placement="top" title="Fiver Account">
          <i class="fa-solid fa-globe fa-bounce"></i>
        </a>
        <a class="Upwork" href="https://www.freelancer.com/u/sendew"  target="blank" data-toggle="tooltip" data-placement="top" title="Freelancer Account">
          <i class="fa-solid fa-laptop fa-shake"></i>
        </a>
      </div>

  </div>
  <div class="waves"></div>
</section>