body {
    font-size: 16px;
    font-family: 'Montserrat', sans-sherif;
    margin: 0;
    padding: 0;
}

.heroContent {
    max-width: 600px;
    margin: 0 auto;
}

.hero {
    position: relative;
    background: rgb(13 13 13);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-position: 100% 100%;

    .social-menu {
        &__item {
            display: flex;
            justify-content: center;
            place-items: center;
            position: relative;
            z-index: 1;
            flex-wrap: wrap;

            a {

                width: 60px;
                height: 60px;
                margin: 15px;
                border-radius: 50%;
                background-color: #fff;
                text-align: center;
                transition: .6s;
                box-shadow: 0 5px 4px rgba(0, 0, 0, .5);

                .fab,
                .fa-solid,
                .fa-brands {
                    font-size: 30px;
                    line-height: 60px;
                    transition: .3s;
                    color: #000;

                    &:hover {
                        color: #fff;
                    }
                }

                &.gitlab {
                    &:hover {
                        background-color: #e24329;
                        color: #fff;
                    }
                }

                &.instagram {
                    &:hover {
                        background-color: #E4405F;
                        color: #fff;
                    }
                }

                &.linkedin {
                    &:hover {
                        background-color: #0077b5;
                        color: #fff;
                    }
                }

                &.stackoverflow {
                    &:hover {
                        background-color: #f48225;
                        color: #fff;
                    }
                }

                &.Upwork {
                    &:hover {
                        background-color: #14a800;
                        color: #fff;
                    }
                }
            }
        }
    }


    img {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-color: #57a79a;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
}

.waves::before {
    border-radius: 44%;
    background: #4c5d6d;
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: #ffffff;
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@media (max-width: 768px) {
    .hero {
        h2 {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 300px) {
    .social-menu {
        &__item {
            a {
                height: 40px;

                .fab {
                    font-size: 20px;
                    line-height: 45px;
                }
            }
        }
    }
}